<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades</title>

    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <aside class="sidebar">

        <!-- LOGO -->
        <div class="logo-area">
            <img src="../img/logo.png" class="logo-img" alt="Logo">
        </div>

        <!-- MENU -->
        <ul class="menu-opcoes">
            <li class="active" data-section="atividades">Atividades</li>
            <li data-section="avatar">Avatar</li>
            <li data-section="perfil">Perfil</li>
            <li data-section="config">Configurações</li>
        </ul>

        <!-- RODAPÉ -->
        <div id="bottomArea"></div>
    </aside>


    <main class="main-content">
    <div id="atividades" class="conteudo-section show">
    </div>

    <div id="avatar" class="conteudo-section">
        <h2>Avatar</h2>
        <p>Interface do avatar será criada aqui.</p>
    </div>

    <div id="perfil" class="conteudo-section">
        <h2>Perfil</h2>
        <p>Interface de perfil será criada aqui.</p>
    </div>

    <div id="config" class="conteudo-section">
        <h2>Configurações</h2>
        <p>Interface de configurações será criada aqui.</p>
    </div>
</main>



    <script src="../controller/atividadepage.js"></script>
    <script src="../controller/sidebar.js"></script>
    <script src="../controller/infos.js"></script>

</body>

</html>
