<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
    <div class="slide-container">
        <div class="content">
            <div class="sprite-area">
                <img id="sprite" src="" alt="Sprite" />
                <div class="fala" id="fala"></div>
            </div>
            <div class="media-area">
                <img id="imagem" style="display: none;" />
                <video id="video" autoplay muted playsinline style="display: none;"></video>
            </div>
        </div>

        <div class="navigation">
            <button id="voltar" class="button-slide">Voltar</button>
            <div style="display: flex; gap: 10px; align-items: center;">
                <button id="repetir" class="button-slide" style="display: none;">Repetir Vídeo</button>
                <button id="repetir-lento" class="button-slide" style="display: none;">Repetir Devagar</button>
            </div>
            <div>
                <button id="avancar" class="button-slide">Avançar</button>
                <button id="terminar" class="button-slide" style="display: none;">Terminar</button>
            </div>
        </div>
    </div>
    <button id="btnLogout">Sair</button>
    <script src="../controller/aula.js"></script>
</body>

</html>