<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Memória</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div class="score-board">
        <div class="score-item">
            <span class="score-label">Pontos</span>
            <span class="score-value" id="score">0</span>
        </div>
        <div class="score-item">
            <span class="score-label">Jogadas</span>
            <span class="score-value" id="moves">0</span>
        </div>
    </div>

    <div class="game-board" id="gameBoard"></div>

    <div class="victory-modal" id="victoryModal">
        <div class="victory-content">
            <h2>Você completou o jogo!</h2><br>
            <p>Pontuação Final: <strong id="finalScore">0</strong></p>
            <p>Total de Jogadas: <strong id="finalMoves">0</strong></p>
            <p>Acertos: <strong id="finalAcertos">0</strong></p>
            <p>Erros: <strong id="finalErros">0</strong></p>
            <p>Tempo: <strong id="finalTime">00:00</strong></p>
            <br>
            <button class="btn" onclick="closeModal()">Jogar Novamente</button>
            <button class="btn" onclick="closeModal()">Voltar para o Menu</button>
        </div>
    </div>
    <button id="btnLogout">Sair</button>
    <script src="../controller/jogodamemoria.js"></script>
</body>
</html>